    <!-- Video Section -->
    <section id="video" class="video-section content-section text-center">
      <div><h2>Producción de video</h2></div>
      <div class="container">
        <div class="col-lg-8 mx-auto">
        <div class="video-container">
<iframe src='https://www.youtube.com/embed/xu1QfddJDsM?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen>
</iframe></div>

        </div>
      </div>
    </section>