<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Test</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="<%= asset_url('profile.jpg') %>" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Henry
            <span class="text-primary">Retana</span>
          </h1>
          <div class="subheading mb-5">16 Av, 16A Diag · Guadalupe, Cartago, CO 30106 · (506) 8533-8983 ·
            <a href="mailto:hretana87@gmail.com">hretana87@gmail.com</a>
          </div>
          <p class="mb-5">

          I am a full-stack software developer with +5 years of experience on a great variety of technologies, I have been envolved on almost all  stages of the software development, wich proves my flexibility and learning capacity.

          </p>
          <p>
            An open mined person with analitycal approach and open to criticism. If I must describe myself in one word this should be <a>"persistent"</a>, in order to face any kind o challenge always focus on details and optimal solutions.
          </p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Hutchings Automobile Products</h3>
              <div class="subheading mb-3">Software developer</div>
              <p>HAP supplies high quality products for powertrain commodities 
              on oil cooling, water coolant, air bleed and turbo cooling 
              subsystems.</p>
              <p>During this time I participated in the following project:</p>
              <div class="subheading mb-3">Hap Scrap Desktop</div>
              <p>The quality control department required a digital way to 
                collect information about the scrap material and generate 
                spreadsheet reports based on the material type, the components, 
                the date, the supervisor in charge, and other data.
                I created the entire 
                system, including analysis, design, development, 
                implementation, testing and maintenance.                
                <b>Technologies:</b> Java for back end and front end, SQL Server as 
                Database.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Cartago, Costa Rica (June 2012 - 
                October 2012)</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Cecropia solutions</h3>
              <div class="subheading mb-3">Software developer</div>
              <p>An outsourcing software development company with American 
                clients.</p>
              <p>During this time I participated in the followings projects:</p>

            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Cartago, Costa Rica (October 2012 - 
                June 2016)</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Dengue Fever Simulation</div>
              <p>It was a Simulation software for a  doctoral thesis. It 
                pretended to show how people can get sick by Dengue Fever 
                infection. It simulated thousands of people  going to work and 
                back home on a specific area. The infection happened depending 
                on multiple factors as: social data, economic status, academic 
                status  and historical data from external sources. I developed the 
                entire system, including analysis, design, development, 
                implementation, testing and maintenance. <b>Technologies:</b> Java 
                for back end and front end, SQL Server as Database. </p>
              </div>
              <div class="resume-date text-md-right">
              <span class="text-primary">October 2012 - 
                January 2013</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Salutopia</div>
              <p>An interactive website for contribution by patients and providers, for research and learning, and communication for a global community. Salutopia required to operate a Medical ERP by voice commands.Installation, configuration and integration with a speech recognition software. <b>Technologies:</b> Microsoft .Net, c#, Dragon Natural Speaking.</p>
              </div>
              <div class="resume-date text-md-right">
              <span class="text-primary">January 2013 - March 2013</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Arrayent</div>
              <p>Arrayent, Inc. is an Internet of Things platform delivered as a Software-as-a-Service solution. It enables consumer product manufacturers to connect their products with their customers via the Internet. Back end development of codecs for home devices. <b>Technologies:</b> Java.</p>
              </div>
              <div class="resume-date text-md-right">
              <span class="text-primary">March 2013 - June 2013</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">New Era</div>
              <p>New Era Studios is a privately held company, is the global leader in providing fine art solutions. The company publishes, manufactures, and markets limited edition artwork and custom image-based products. Front end and back end tasks on a new wizard module. On this module the customer can choose a lot of different options for buy personalized art, like the desired image, the material and the frame. <b>Technologies:</b> Ruby on Rails, MySQL, Bootstrap, Javascript, CSS3, Apache Solr..</p>
              </div>
              <div class="resume-date text-md-right">
              <span class="text-primary">June 2013 - June 2014</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Atmosferiq</div>
              <p>Atmosferiq is a marketing company, they needed a website that helps businesses to determine where it’s best to focus their marketing efforts. I worked in front end and back end development for a dashboard module. This module contains information and statistics related with the communication channels for each client. <b>Technologies:</b> Ruby on Rails, MySQL, Bootstrap, Javascript, CSS3, PostgreSQL.</p>
              </div>
              <div class="resume-date text-md-right">
              <span class="text-primary">June 2014 - May 2015</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">Kimbia</div>
              <p>Kimbia offers web-based fundraising and event management software 
                solution enabling nonprofits to use online donation forms. I worked 
                in front end work for event pages: styles, colors, sizes, fonts, 
                images. Back end content updates by WordPress or PHP (depending of 
                the site). Creation of an entire new module with a proposed 
                technologie (PHP Laravel). <b> Technologies:</b> WordPress, HTML, 
                CSS3, PHP, Laravel, MySQL.</p>
              </div>
              <div class="resume-date text-md-right">
              <span class="text-primary">June 2015 - December 2015</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <div class="subheading mb-3">JJ Buckley</div>
              <p>JJ Buckley is a wine seller company, with more than 4500 different 
                wines. The website is based on .Net and an ERP called NetSuite. 
                Maintenance of the website in Front end and backend, update payment 
                methods, merging data bases, research of how create new 
                functionality on NetSuite.<b> Technologies:</b> Microsoft .Net, SQL Server, Microsoft Azure, Javascritp, NetSuite.</p>
              </div>
              <div class="resume-date text-md-right">
              <span class="text-primary">January 2016 - June 2016</span>
            </div>
          </div>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Tucan Enterprises</h3>
              <div class="subheading mb-3">IT support assistant.</div>
              <p></p>
              <p>Under an international experience program I worked on hardware and 
                software IT support and maintenance.</p>
              <p>Installing anit-virus (AVG), and renewing licenses.
                Networking issues.
                Database recovery from an old system.
                Installation of HD t.v network.
                Hardware maintenance.            
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Alberta, Canada
(September 2016 - July 2017)</span>
            </div>
          </div>
        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Universidad de Costa Rica</h3>
              <div class="subheading mb-3">Bachelor of Information Technologies</div
                >
              <div>Computer Science - Web Development Track</div>
              <p>GPA: 3.23</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2006 - October 2015</span>
            </div>
          </div>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicon-java-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-php-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-dot-net-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-csharp-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-ruby-plain-wordmark"></i>
            </li>            
            <li class="list-inline-item">
              <i class="devicon-android-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-mysql-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-postgresql-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-laravel-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-rails-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-wordpress-plain-wordmark"></i>
            </li>            
            <li class="list-inline-item">
              <i class="devicon-javascript-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-jquery-plain-wordmark"></i>
            </li>            
            <li class="list-inline-item">
              <i class="devicon-css3-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-bootstrap-plain-wordmark"></i>
            </li>           
            <li class="list-inline-item">
              <i class="devicon-git-plain-wordmark"></i>        
            </li>
            <li class="list-inline-item">
              <i class="devicon-github-plain-wordmark"></i>
            </li>                  
            <li class="list-inline-item">
              <i class="devicon-windows8-original"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-ubuntu-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-nginx-original"></i>
            </li>            
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a web developer, I enjoy most of my time being outdoors. I like to swim and ride on MTB. I am passionate of traveling and nature.</p>

          <p class="mb-0">When forced indoors, I am a great reader of classic literature and science literature. I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development world.</p>
        </div>
      </section>
    </div>