<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>De: <%= @message.name %></h1>
    <br>
    <h2>Contacto: <%= @message.contact %></h2>
    <p>
      Mensaje:
      <%= @message.message%>
      <br>
      Sample mail sent using smtp.
    </p>
  </body>
</html>